body{
background-image: url(../public/images/alametasoal.jpg);

}

.App {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App h1 {
  margin: 3.5rem;
  font-size: 4rem;
  font-weight:5rem;
}

.Home {
  width: 600px;
  height: 600px;
  border-radius: 10px;
  background-image: url(../public/images/gif.webp);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1px 2px 25px 8px #434c50;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Home button {
  width: 300px;
  height: 60px;
  margin: 10px;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 1.8rem;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  
}

.questionBox {
  width: 600px;
  height: 600px;
  font-size: 1.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  align-items: center;
  background-color: #4a86ef;
  box-shadow: 1px 2px 25px 8px #434c50;

}

.questionBox li{
  list-style: none;
}

.answer-box, .score-box{
  width: 15wv;
  height: 10vh;
  padding: 35px;
  line-height: 2rem;
  background-color: white;
  box-shadow: 1px 1px 20px 1px #026996;
  border-radius: 10px;
  
}
.answers:hover , .score-box:hover{
  color: darkblue;
  font-weight: bold;


}

.questionCorrect {
  background-color: rgb(23, 176, 12);
}
.questionIncorrect {
  background-color: red;
}


button{
  margin-left: 1.2rem;
  box-shadow: 1px 1px 10px 1px #026996;
  border-radius: 10px;
  border: 1px solid rgb(11, 128, 163);
  padding: 10px;
  margin: 5px;
}
button:hover{
  background-color: whitesmoke;
  font-size: large; 
}

a{
  text-decoration: unset;
  color: #111;
  font-weight: bold;
  
}
